body {
background:radial-gradient(circle,
rgba(174,190,238,1) 0%,
rgba(255,255,255,1) 100%);
}
.card{
box-shadow: 0 0 10px rgba(0,0,0,0.5);
padding: 20px;
}
img {
width:70px;
high: 70px;
}
.jumbotron{
text-align: center;
background:radial-gradient(circle, rgba(174,190,238,1) 0%, rgba(235,236,241,1) 100%);
box-shadow: 0 0 10px rgba(0,0,0,0.5);
padding: 20px;
}